# Xcode
# ====================================
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
XcodeWorkspaceSettings.xcsettings

# Swift Package Manager
# ====================================
.build/
.swiftpm/
# Delete the line below if you want to lock package versions in git
# Packages/

# Firebase & Cloud Secrets
# ====================================
GoogleService-Info.plist

# Environment variables
# ====================================
.env
.env.*
!.env.example
